body {
    margin: 0;
}

header {
    background-color: #84a98c;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 25px;
}

header img {
    width: 500px;
    padding-top: 0;
    padding-bottom: 15px;
}

.topnav a {
    float: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0px 25px;
    text-decoration: none;
    font-size: 14px;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
}

main {
    max-width: 800px;
    padding-left: 250px;
    padding-right: 250px;
}

footer {
    background-color: #84a98c;
    color: white;
    text-align: right;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
}